.markdone{
text-decoration: line-through;
color: red;

}
.content{
  margin-left: 20px;
  padding: 10px;
  background-color: antiquewhite;
  width: 500px;
  border-radius: 10px;
}

html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}
h5{
  margin: 0;
}